<div class="bee-page-container">
<div class="bee-row bee-row-1">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w12">
<div class="bee-block bee-block-1 bee-text">
<div class="bee-text-content" style="line-height: 120%; font-size: 12px; font-family: inherit; color: #1f0b0b;">
<p style="font-size: 14px; line-height: 16px;"><strong style=""><span style="font-size: 46px; line-height: 55px;">Bienvenido a Cercare!</span></strong></p>
</div>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-2">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w12">
<div class="bee-block bee-block-1 bee-divider">
<div class="spacer" style="height:10px;"></div>
</div>
<div class="bee-block bee-block-2 bee-text">
<div class="bee-text-content" style="line-height: 150%; font-size: 12px; font-family: inherit; color: #34495e;">
<p style="font-size: 14px; line-height: 21px; text-align: center;"><span style="font-size: 28px; line-height: 42px;"><strong style=""><span style="line-height: 18px;"><span style="line-height: 18px;"><span style="font-size: 28px; line-height: 42px;">Cercare es una plataforma utilizada para empresas para disponibilizar</span></span><span style="line-height: 18px;"><span style="font-size: 28px; line-height: 42px;"> la obtención de resultados de búsquedas a través de sitios web y servicios proporcionados</span></span></span></strong></span><span style="font-size: 28px; line-height: 42px;"><strong style=""><span style="line-height: 18px;">.</span></strong></span></p>
</div>
</div>
<div class="bee-block bee-block-3 bee-divider">
<div class="spacer" style="height:20px;"></div>
</div>
<div class="bee-block bee-block-4 bee-image"><img alt="Guys Shaking Hand" class="bee-center bee-fixedwidth bee-fullwidthOnMobile" src="assets/img/middle_Image.png" style="max-width:720px;"/></div>
<div class="bee-block bee-block-5 bee-divider">
<div class="spacer" style="height:45px;"></div>
</div>
<div class="bee-block bee-block-6 bee-text">
<div class="bee-text-content" style="line-height: 150%; font-size: 12px; font-family: inherit; color: #34495e;">
<p style="font-size: 14px; line-height: 21px; text-align: center;"><span style="font-size: 28px; line-height: 42px;"><strong style="">Solicita la creación de tu usuario y comienza a disfrutar de las funcionalidades disponibles</strong></span></p>
</div>
</div>
<div class="bee-block bee-block-7 bee-divider">
<div class="spacer" style="height:0px;"></div>
</div>
</div>
</div>
</div>
<div class="bee-row bee-row-3">
<div class="bee-row-content">
<div class="bee-col bee-col-1 bee-col-w6">
<div class="bee-block bee-block-1 bee-image"><img alt="Guy Searching" class="bee-center bee-fixedwidth bee-fullwidthOnMobile" src="assets/img/search.png" style="max-width:676px;"/></div>
</div>
<div class="bee-col bee-col-2 bee-col-w6">
<div class="bee-block bee-block-1 bee-divider bee-mobile_hide">
<div class="spacer" style="height:30px;"></div>
</div>
<div class="bee-block bee-block-2 bee-divider bee-mobile_hide">
<div class="spacer" style="height:30px;"></div>
</div>
<div class="bee-block bee-block-3 bee-text">
<div class="bee-text-content" style="line-height: 200%; font-size: 12px; font-family: inherit; color: #34495e;">
<p style="font-size: 14px; line-height: 28px;"><span style="font-size: 30px; line-height: 60px;"><strong style=""><span style="line-height: 24px;">Funcionalidades</span></strong></span></p>
</div>
</div>
<div class="bee-block bee-block-4 bee-text">
<div class="bee-text-content" style="line-height: 200%; font-size: 12px; font-family: inherit; color: #555555;">
<ol style="">
<li style="font-size: 14px; line-height: 28px;"><span style="font-size: 20px; line-height: 40px;">Agregado de servicios con sus sitios web</span></li>
<li style="font-size: 14px; line-height: 28px;"><span style="font-size: 20px; line-height: 40px;">Agregado de sitios web</span></li>
<li style="font-size: 14px; line-height: 28px;"><span style="font-size: 20px; line-height: 40px;">Indexación de metadatos</span></li>
<li style="font-size: 14px; line-height: 28px;"><span style="font-size: 20px; line-height: 40px;">Buscador personalizable</span></li>
<li style="font-size: 14px; line-height: 28px;"><span style="font-size: 20px; line-height: 40px;">Búsqueda por voz a texto </span></li>
<li style="font-size: 14px; line-height: 28px;"><span style="font-size: 20px; line-height: 40px;">Tablero de estadísticas</span></li>
</ol>
</div>
</div>
</div>
</div>
</div>